<form action="/login" method="post">
  <h1>Login</h1>
  Name<input type="text" name="" id="" />
  <br />
  Password<input type="password" name="" id="" />
  <br />
  <input type="submit" value="Login" />
</form>
