<!-- <form action="/login" method="post">
  <h1>Login</h1>
  Username<input type="text" name="username" />
  <br />
  Password<input type="password" name="password" />
  <br />
  <button type="submit">Login</button>
</form>

<h2>
  <a href="/register">Ro`yhatdan o`tish</a>
</h2> -->

<title>RealCoderUz | Login</title>
<link rel="icon" href="http://realcoder.uz/rc.png" />

<a href="/auth/isGoogle" style="margin: 0 auto">
  <img
    style="width: 40%"
    src="https://www.drupal.org/files/issues/2020-01-19/google_logo.png"
    alt=""
/></a>

<a href="/auth/isGoogle" style="margin: 0 auto; margin-top: 2rem"
  ><img
    style="width: 40%"
    src="https://res.cloudinary.com/practicaldev/image/fetch/s--YVSXRIP0--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://thepracticaldev.s3.amazonaws.com/i/c74ljgt1t4o1ko28ycm8.png"
    alt=""
/></a>
